.header {
    background: $color-header-bg;
    color: $color-header-text;
    padding-top: $grid-unit-small;
    padding-bottom: $grid-unit-small;
    margin-bottom: $grid-unit-large;
    a,
    a:link,
    a:visited {
        text-decoration: none;
        color: $color-header-text;
    }
    a:focus,
    a:hover,
    a:active {
        color: $color-header-active;
    }
}
.header__content {
    @include flex-fill();
    @include flex-align(center);
    @include flex-wrap();
}
.header__logo {
    margin: 0 $grid-unit-large 0 0;
    font-size: 1.4rem;
    font-weight: bolder;
    text-transform: uppercase;
}
.header__search {
    @include flex-fill();
}

@include mq($from: m) {
    .header {
        padding-top: $grid-unit-large;
        padding-bottom: $grid-unit-large;
    }
    .header__search {
        margin-left: $grid-unit-large * 2;
        height: 36px;
    }
    .header__logo {
        margin-right: $grid-unit-large * 2;
        font-size: 2rem;
    }
}

