.home-wrapper {

}
.home__logo {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: $grid-unit-large * 2;
}

.home__intro {
    text-align: center;
    margin-top: $grid-unit-large * 2;
}

.home__content {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}