.search {
    position: relative;
    @include flex-fill();
}
.search__button {
    display: inline-block;
    height: 22px;
    width: 22px;
    border: none;
    background: transparent;
    padding: 0;
    margin:0;
    position: absolute;
    right: 4px;
    bottom: 6px;
}
.search__box {
    @include flex-fill();
    font-weight: lighter;
    font-size: 20px;
    padding-right: 28px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: solid 1px $color-subtle;
    position: relative;
    color: $color-subtle;
}

.search__label::after {
    will-change: opacity, width;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: $color-darker;
    width: 0;
    opacity: 0;
    @include transition(all 400ms cubic-bezier(0.19, 1, 0.22, 1));
}

.search__path {
    fill: $color-subtle;
    @include transition(fill 400ms cubic-bezier(0.19, 1, 0.22, 1));
}

.search__box:focus {
    color: $color-darker;
    ~ .search__button .search__path {
        fill: $color-darker;
    }
    ~ .search__label:after {
        opacity: 1;
        width: 100%;
        left: 0;
    }
}

.header__search {
    .search__label::after {
        background-color: $color-header-active;
    }
    .search__box:focus {
        color: $color-header-active;
        ~ .search__button .search__path {
            fill: $color-header-active;
        }
    }
}

.home__search {
    .search__box {
        font-size: 24px;
    }
}