{% extends 'AppBundle::base.html.twig' %}

{% block crumb %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>Enter a query in the search box to begin</p>
{% endblock %}
