.vagrant
.composer
.idea
.viminfo
.mysql_history
app/config/parameters.yml
app/bootstrap.php.cache
app/SymfonyRequirements.php
app/cache/*
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
app/phpunit.xml
public/bundles
vendor
node_modules
tmp/
.npm/
.v8flags.3.14.5.9.vagrant.json
