{% extends 'AppBundle::base.html.twig' %}

{% block bodyClass %}homepage{% endblock %}

{% block body %}
    <h1 class="g-unit invisible">{{ meta.siteTitle }}</h1>
    <div class="g-unit">
        <div class="intro-icon g-unit">
            <svg><use xlink:href="#icon-alert" /></svg>
        </div>
        <p class="text--center card card--padded">Choose a line for more detailed information, and to setup alerts for disruptions.</p>
    </div>
    <!--<div class="g-unit card card--padded">
        <h2 class="g-unit">Overall Stats (for the last 60 days)</h2>
        <p>The most reliable line is the: <strong>District Line</strong></p>
        <p>The most unreliable line is the: <strong>Circle Line</strong></p>
    </div>-->
{% endblock %}
