{% extends 'App::base.html.twig' %}


{% block body %}
    <h1 class="g-unit">Tube Stat</h1>
    <div class="g-unit card card--padded">
        <p>Choose a line for more detailed information, and to setup notifications for disruptions.</p>
    </div>
    <div class="g-unit card card--padded">
        <h2 class="g-unit">Overall Stats (for the last 60 days)</h2>
        <p>The most reliable line is the: <strong>District Line</strong></p>
        <p>The most unreliable line is the: <strong>Circle Line</strong></p>
    </div>
{% endblock %}
