{% extends 'App::base.html.twig' %}


{% block body %}
    <h1 class="g-unit">Settings</h1>
    <div class="g-unit card card--padded">
    <h2>Notifications</h2>
    <p>Your browser does not support notifications</p>
    </div>
<div class="g-unit card card--padded">
    <h2>About</h2>
    <p>Powered by TfL Open Data</p>
</div>
{% endblock %}
