@import '../vendor/normalize';

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    margin: 0;
}

html {
    overflow-y: scroll;
}

body {
    padding: 0;
    background: $color-body;
    color: $color-text;
    font-family: $font-body;
}


img,
svg {
    width: 100%;
    height: auto;
}

a {
    font-weight: inherit;
    color: inherit;
    text-decoration: inherit;
}

.page-limit {
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid-unit-small;
    padding-right: $grid-unit-small;
    max-width: 976px;
}

.sf-toolbarreset {
    *, *:before, *:after {
        box-sizing: content-box;
    }
    img,
    svg {
        width: auto;
        height: auto;
    }
}

@include mq($from: m) {
    .page-limit {
        padding-left: $grid-unit-large;
        padding-right: $grid-unit-large;
    }
}