.list--unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list--spaced {
    > li {
        margin-bottom: $grid-unit-small;
        @include mq($from: m) {
            margin-bottom: $grid-unit-large;
        }
    }
}

