$loading-offset: 187;
$loading-duration: 1.4s;
@-webkit-keyframes loading-dash {
    0% { stroke-dashoffset: $loading-offset; }
    50% {
        stroke-dashoffset: $loading-offset/4;
        transform:rotate(135deg);
    }
    100% {
        stroke-dashoffset: $loading-offset;
        transform:rotate(450deg);
    }
}
@keyframes loading-dash {
    0% { stroke-dashoffset: $loading-offset; }
    50% {
        stroke-dashoffset: $loading-offset/4;
        transform:rotate(135deg);
    }
    100% {
        stroke-dashoffset: $loading-offset;
        transform:rotate(450deg);
    }
}
@-webkit-keyframes loading-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}
@keyframes loading-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}

.loading {
    margin-top: 48px;
    width: 48px;
    margin-left: auto;
    margin-right: auto;
    transform-origin: center;
    -webkit-animation: loading-rotate $loading-duration linear infinite;
    animation: loading-rotate $loading-duration linear infinite;
}
.loading__path {
    stroke: $color-darker;
    stroke-dasharray: $loading-offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    -webkit-animation: loading-dash $loading-duration ease-in-out infinite;
    animation: loading-dash $loading-duration ease-in-out infinite;
}
//
//.loading {
//    position: relative;
//    width: 4em;
//    height: 4em;
//    border-radius: 100%;
//}
//
//.loading::after {
//    content: "";
//    background: #fff;
//    border-radius: 50%;
//    width: 3em;
//    height: 3em;
//    position: absolute;
//    top: 0.5em;
//    left: 0.5em;
//}
//
//.loading__spinner {
//    position: relative;
//    width: 4em;
//    border-radius: 4em;
//    overflow: hidden;
//    animation: rotate 2000ms infinite linear;
//}
//
//.loading__spinner:before {
//    content: "";
//    position: absolute;
//    top: 0;
//    left: 0;
//    right: 0;
//    bottom: 0;
//    background: #3F51B5;
//    border: 3px solid #fff;
//    border-radius: 100%;
//}
//
//.inner-spin {
//    background: #fff;
//    height: 4em;
//    width: 2em;
//}
//
//.inner-spin {
//    animation: rotate-left 2500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
//    border-radius: 2em 0 0 2em;
//    transform-origin: 2em 2em;
//}
//
//.inner-spin:last-child {
//    animation: rotate-right 2500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
//    margin-top: -4em;
//    border-radius: 0 2em 2em 0;
//    float: right;
//    transform-origin: 0 50%;
//}
//
//@keyframes rotate-left {
//    60%, 75%, 100% {
//        transform: rotate(360deg);
//    }
//}
//
//@keyframes rotate {
//    0% {
//        transform: rotate(0);
//    }
//    100% {
//        transform: rotate(360deg);
//    }
//}
//
//@keyframes rotate-right {
//    0%, 25%, 45% {
//        transform: rotate(0);
//    }
//
//    100% {
//        transform: rotate(360deg);
//    }
//}
//
//
//
//
//
//
//@keyframes spin{
//    from{
//        -webkit-transform:rotate(-130deg);
//        transform:rotate(-130deg)
//    }
//    50%{
//        -webkit-transform:rotate(5deg);
//        transform:rotate(5deg)
//    }
//    to{
//        -webkit-transform:rotate(-130deg);
//        transform:rotate(-130deg)
//    }
//}
//
//.loading {
//    display: inline-block;
//    position: relative;
//    width: 50%;
//    height: 100%;
//    overflow: hidden;
//    border-color: inherit
//}
//.loading__spinner {
//    display: block;
//    height: 50px;
//    width: 50px;
//    border: solid 6px $color-darker;
//    border-radius: 100%;
//    margin-left: auto;
//    margin-right: auto;
//    border-left-color: transparent;
//    animation: spin 1333ms cubic-bezier(0.4, 0, 1, 1) infinite both;
//
//    left: -100%;
//    -webkit-transform: rotate(-129deg);
//    -ms-transform: rotate(-129deg);
//    transform: rotate(-129deg);
//}
