.footer {
    margin-top: $grid-unit-large;
    background: $color-header-bg;
    color: $color-header-text;
    padding-top: $grid-unit-small;
    padding-bottom: $grid-unit-small;
    text-align: right;
}