.linebox {
    color: #fff;
    background: #444;
}

@mixin bord($color) {
    //border-top-color: lighten($color, 10%);
    //border-bottom-color: darken($color, 10%);
    //&:hover {
    //    border-top-color: $color;
    //    border-bottom-color: $color;
    //}
}

.linebox--bakerloo {
    $color: #AE6118;
    background: $color;
    @include bord($color);
}

.linebox--central {
    $color: #E41F1F;
    background: $color;
    @include bord($color);
}

.linebox--circle {
    $color: #F8D42D;
    background: $color;
    color: #111;
    @include bord($color);
}

.linebox--district {
    $color: #007229;
    background: $color;
    @include bord($color);
}

.linebox--dlr {
    $color: #00BBB4;
    background: $color;
    @include bord($color);
}

.linebox--hammersmith-city {
    $color: #E899A8;
    background: $color;
    @include bord($color);
    color: #111;
}

.linebox--jubilee {
    $color: #686E72;
    background: $color;
    @include bord($color);
}

.linebox--metropolitan {
    $color: #893267;
    background: $color;
    @include bord($color);
}

.linebox--northern {
    $color: #000000;
    background: $color;
    @include bord($color);
}

.linebox--london-overground {
    $color: #e86a10;
    background: $color;
    @include bord($color);
}
.linebox--piccadilly {
    $color: #0450A1;
    background: $color;
    @include bord($color);
}
.linebox--victoria {
    $color: #009FE0;
    background: $color;
    @include bord($color);
}
.linebox--waterloo-city {
    $color: #70C3CE;
    background: $color;
    @include bord($color);
    color: #111;
}
.linebox--tfl-rail {
    $color: #0019a8;
    background: $color;
    @include bord($color);
}