.linebox {
    color: #fff;
    background: #444;
}

.linebox--bakerloo {
    background: #AE6118;
}

.linebox--central {
    background: #E41F1F;
}

.linebox--circle {
    background: #F8D42D;
    color: #111;
}

.linebox--district {
    background: #007229;
}

.linebox--dlr {
    background: #00BBB4;
}

.linebox--hammersmith-city {
    background: #E899A8;
    color: #111;
}

.linebox--jubilee {
    background: #686E72;
}

.linebox--metropolitan {
    background: #893267;
}

.linebox--northern {
    background: #000000;
}

.linebox--london-overground {
    background: #e86a10;
}
.linebox--piccadilly {
    background: #0450A1;
}
.linebox--victoria {
    background: #009FE0;
}
.linebox--waterloo-city {
    background: #70C3CE;
    color: #111;
}
.linebox--tfl-rail {
    background: #0019a8;
}